.showcase {
    padding: 120px 0 50px 0;

    .showcase__left {
        h2 {
            font-family: Heebo;
            font-style: normal;
            font-weight: bold;
            font-size: 44px;
            line-height: 60px;
            /* or 136% */


            /* Dark Color */

            color: #21243D;
        }

        p {
            font-family: Heebo;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            padding: 30px 0;
            /* Dark Color */

            color: #21243D;
        }

        a {
            background: #FF6464;
            border-radius: 2px;
            font-family: Heebo;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 29px;
            padding: 8px 12px;
            color: #FFFFFF;
        }
    }

    .showcase__right {
        width: 350px;

        img {
            max-width: 100%;
        }
    }
}


@media(max-width:912px) {
    .showcase .showcase__left {
        order: 1;
        text-align: center;
        padding: 10px 0 0 0;

        h2 {

            font-family: 'Heebo';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            /* or 125% */


            /* Dark Color */

            color: #21243D;
        }

        p {
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;

            /* Dark Color */

            color: #21243D;
        }
    }
}

@media(max-width:395px) {
    .showcase .showcase__left h2 {
        font-size: 26px;
    }
}