.preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #f7fbfc;
  z-index: 99999;
}
.preloader .preloader-gif {
  display: block;
  width: 132px;
  height: 132px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-position: center center;
  transform: translateY(-50%);
  background: url("./preloader.gif") no-repeat;
}
