.post {
    padding: 20px 0px 40px 0px;
    background: #EDF7FA;

    h2 {
        font-family: Heebo;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 60px;
        /* identical to box height, or 273% */

        /* Dark Color */

        color: #040c52;

    }

    .card__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 40px;

        .card {
            background: #FFFFFF;
            box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
            border-radius: 4px;
            padding: 30px;

            h3 {
                font-family: Heebo;
                font-style: normal;
                font-weight: bold;
                font-size: 26px;
                line-height: 28px;

                /* Dark Color */

                color: #21243D;
            }

            .time {
                font-family: Heebo;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 26px;
                padding: 20px 0;

                /* Dark Color */

                color: #040c52;

            }

            p {
                font-family: Heebo;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;

                /* Dark Color */

                color: #040c52;

            }
        }
    }


}

@media(max-width:419px) {
    .post .card__container {
        grid-template-columns: 1fr;


    }

    .post .card__container .card h3 {
        font-weight: 700;
        // font-size: 1.17em;
        line-height: 30px;
        font-size: 18px;

    }

    .post .card__container .card .time {
        font-size: 15px;
    }

    .post .card__container .card p {
        font-size: 15px;
    }
}


@media(max-width:283px) {
    .post .card__container .card .time {
        font-size: 13px;
    }

    .post .card__container .card h3 {
        font-size: 18px;

    }
}